@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Raleway";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: 500;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: rgba(30, 35, 38, 1);
  background-color: rgba(237, 238, 243, 1);
}
.swiper-slide {
  width: auto !important;
}
.swiper {
  margin: 0;
}
input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: white;
  border: none;
  color: inherit;
}
textarea::-webkit-scrollbar {
  width: 7px;
}
textarea::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5rem;
}
textarea::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}
button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
  resize: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
button,
a {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  border-radius: 1.4rem;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 184rem;
  margin: 0 auto;
}
section {
  margin-bottom: 20rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}

.no-flex {
  display: flex;
}
/* size */

.h1 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 6rem;
  line-height: 100%;
  text-transform: uppercase;
}
.two-h1 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 6rem;
  line-height: 100%;
}
.h2 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 100%;
}
.h3 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 100%;
}
.text-32-400 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 100%;
}
.text-i {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 100%;
}
.text-i-20 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
}
.text-i-16 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
}
.text-m {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 100%;
}
.text-m-32{
  font-family: "Raleway";
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 100%;
}
.text-m-24 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
}
.text-m-20 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 100%;
}
.text-m-16 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
}
.text-m-14 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
}
.button-text {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 100%;
}
.text-s {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
}
.text-s-20 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
}
.text-s-16 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}
.text-menu-18 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 100%;
  text-transform: uppercase;
}
.footer-h {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 110%;
  text-transform: uppercase;
}
.footer-small {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}
.text-num {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20rem;
  line-height: 100%;
}
.grey-light {
  color: rgba(159, 168, 173, 1);
}
.text-upp {
  text-transform: uppercase;
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    /* padding: 0 4rem; */
    width: 100%;
  }
  section {
    margin: 2rem 2rem 20rem 2rem;
  }
}

@media (max-width: 48em) {
  .h1 {
    font-size: 6.2rem;
  }
  .two-h1 {
    font-size: 12rem;
  }
  .h2 {
    font-size: 5.6rem;
  }
  .h3 {
    font-size: 6rem;
  }
  .text-32-400 {
    font-size: 4.8rem;
    font-weight: 400;
  }
  .text-m {
    font-size: 3.6rem;
  }
  .text-m-32{
    font-size: 4rem;
  }
  .text-m-24 {
    font-size: 3.6rem;
  }
  .text-m-20{
    font-size: 3.6rem;
  }
  .text-m-16 {
    font-size: 2.8rem;
  }
  .text-m-14 {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 100%;
  }
  .button-text {
    font-size: 3.6rem;
  }
  .text-s {
    font-size: 4.8rem;
  }
  .text-s-20 {
    font-size: 4rem;
    line-height: 130%;
  }
  .text-s-16 {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .text-i {
    font-size: 4.8rem;
  }
  .text-i-20 {
    font-weight: 600;
    font-size: 3.2rem;
  }
  .text-i-16 {
    font-size: 3.2rem;
  }
  .text-menu-18 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 140%;
  }
  .footer-h {
    font-size: 4rem;
  }
  .footer-small {
    font-size: 2.4rem;
    line-height: 120%;
  }
}
.button-body {
  background: rgba(9, 130, 198, 1);
  border-radius: 3.2rem;
  padding: 2.3rem 3.2rem;
  height: fit-content;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  transition: background 0.3s ease;
}
.btn-circle {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
  background: rgba(237, 238, 243, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: background 2s ease;
}
.chevron-right {
  width: 1.6rem;
  height: 1.6rem;
}
.button-body:hover {
  background: rgba(17, 151, 227, 1);
  .btn-circle {
    background: radial-gradient(
      72.92% 72.92% at 33.33% 20.83%,
      #f0f0f0 0%,
      #56bdf7 100%
    );
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.12) inset;
  }
}

.button-body:disabled {
  background: rgba(199, 199, 199, 1);
}
.button-body:active {
  background: rgba(0, 153, 239, 1);
}
@media (max-width:48em) {
  .button-body{
    border-radius: 6.4rem;
    height: 12rem;
  }
  .btn-circle{
    width: 6.4rem;
    height: 6.4rem;
  }
  .chevron-right{
    width: 3.2rem;
    height: 3.2rem;
  }
}
/* footer */
.footer-content {
  display: grid;
  gap: 13rem;
}
.footer-logo {
  width: 91rem;
  height: auto;
}
.footer-content_top {
  display: flex;
  align-items: flex-end;
  gap: 19rem;
}
.footer-content_top-rigth {
  display: flex;
  gap: 16rem;
  width: 73rem;
}
.footer-top_block {
  width: 50%;
  display: grid;
  gap: 6rem;
}
.footer-content_bottom-anchors {
  display: flex;
  justify-content: right;
  width: 165rem;
}
.footer-anchors_block {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 колонки */
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  gap: 2.4rem 30rem;
  justify-content: center;
  align-items: start;
  text-align: left;
  transition: opacity 0.3s ease;
}
.footer-anchors_block a:hover {
  opacity: 0.7;
}
.footer-block_adr {
  display: grid;
  gap: 2.4rem;
}
.footer-content_bottom {
  display: grid;
  gap: 4.3rem;
}
.footer-bottom_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3rem 0 7.8rem 0;
  border-top: 1px solid rgba(211, 215, 223, 1);
}
.footer-bottom_block-a {
  display: flex;
  gap: 18rem;
}
.footer-bottom_block-a a {
  transition: opacity 0.3s ease;
}
.footer-bottom_block-a a:hover {
  opacity: 0.7;
}
.footer-bottom_block-seo {
  display: flex;
  gap: 2rem;
  margin-right: 3.4rem;
}
.footer-seo {
  width: 4.8rem;
  height: 4.8rem;
  transition: opacity 0.3s ease;
}
.footer-seo:hover {
  opacity: 0.7;
}
@media (max-width: 48em) {
  footer {
    padding: 3.2rem;
  }
  .footer-content {
    gap: 4.8rem;
  }
  .footer-logo {
    width: 68rem;
  }
  .footer-content_top {
    display: grid;
  }
  .footer-seo {
    width: 6.4rem;
    height: 6.4rem;
  }
  .footer-bottom_block {
    display: grid;
    gap: 6.4rem;
    padding: 3.2rem 0 8rem 0;
  }
  .footer-top_block {
    gap: 3.2rem;
  }
  .footer-bottom_block-seo {
    gap: 4rem;
  }
  .footer-content_bottom-anchors {
    width: 100%;
    justify-content: left;
  }
  .footer-anchors_block {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto auto;
    gap: 2.4rem 17rem;
  }
  .footer-content_top-rigth {
    width: 100%;
    gap: 13rem;
  }
  .footer-content_top {
    gap: 8rem;
  }
  .footer-content_bottom {
    gap: 6.4rem;
  }
  .footer-bottom_block-a {
    display: grid;
    gap: 1.6rem;
  }
}
/* контакты */
.contacts-content {
  display: grid;
  gap: 4.9rem;
}
.contacts-content_top {
  display: flex;
  gap: 41rem;
}
.contacts-content_bottom {
  display: flex;
  justify-content: space-between;
}
.contacts-content_bottom-left {
  display: grid;
  gap: 10rem;
  height: 60rem;
  width: 56rem;
}
.contacts-bottom_left-block {
  display: grid;
  gap: 10rem;
  height: fit-content;
}
.contacts-top_templ {
  display: flex;
  gap: 12rem;
}
.contacts-top_templ-block {
  display: grid;
  gap: 3.6rem;
}
.contacts-content_bottom-left .footer-bottom_block-seo {
  align-items: end;
}
.contacts-content_bottom .footer-seo {
  width: 6.4rem;
  height: 6.4rem;
}
.block-map {
  width: 110rem;
  height: 60rem;
}
.map {
  width: 100%;
  height: 100%;
}
.on-flex {
  display: none;
}
@media (max-width: 48em) {
  .contacts-content_top {
    display: grid;
    gap: 4.8rem;
  }
  .contacts-top_templ-block {
    gap: 0.8rem;
  }
  .contacts-top_templ {
    display: grid;
    gap: 3.2rem;
  }
  .contacts-content_bottom {
    display: grid;
  }
  .contacts-content_bottom .footer-seo {
    width: 8rem;
    height: 8rem;
  }
  .contacts-content {
    gap: 6.4rem;
  }
  .contacts-content_bottom {
    display: grid;
    gap: 6.4rem;
  }
  .contacts-bottom_left-block {
    gap: 4.8rem;
  }
  .block-map {
    width: 100%;
    height: 46rem;
  }
  .map {
    height: 100%;
  }
  .contacts-content_bottom-left {
    width: auto;
    gap: 0;
    height: fit-content;
  }
  .no-flex {
    display: none;
  }
  .on-flex {
    display: flex;
  }
}
/* reviews */
.swiper-button-lock {
  display: flex !important;
}

.reviews-content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.arrow-left,
.arrow-right {
  cursor: pointer;
  width: 6rem;
  height: 5rem;
}
.swiper-btns {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.reviews-slide_block {
  width: 46.6rem;
  height: 59.4rem;
  padding: 5.8rem 3.4rem;
  display: grid;
  background: white;
  gap: 4.8rem;
}
.reviews-slide_top {
  display: grid;
  gap: 0.8rem;
  height: fit-content;
}
.reviews-slide_description {
  height: 29rem;
  display: grid;
  align-items: center;
}
.reviews-slide_description video {
  width: 100%;
  height: 29rem;
}
.rew-image {
  height: 47rem;
  /* object-fit: cover; */
  clip-path: inset(14rem 0 3rem 0); 
  margin-top: -14rem;
}
.reviews-slide_bottom {
  display: flex;
  justify-content: space-between;
}
.reviews-stars {
  width: 17rem;
  height: 2.4rem;
}
.short-text {
  display: block;
}
.full-text {
  display: none;
}
.read-more {
  color: #0094ff;
  cursor: pointer;
}

@media (max-width:48em) {
  .reviews-content_top{
    display: grid;
    gap: 4.8rem;
  }
  .arrow-left, .arrow-right{
    width: 12rem;
    height: 10rem;
  }
  .reviews-slide_block{
    width: 64rem;
    padding: 3.2rem 4.8rem;
    height: 89rem;
  }  
  .reviews-slide_description{
    height: 58rem;
    width: auto;
  }
  .reviews-slide_description video{
    height: 100%;
  }
  .rew-image{
    height: 74rem;
    margin-top: -12rem;
    clip-path: inset(12rem 0 4rem 0);
  } 

}

.main-specialists .swiper-btns{
  order: 2;
}
.specialists-slide_block{
  width: 34rem;
  height: 52rem;
}
.dart-blue{
  background: rgba(40, 52, 66, 1) url(/assest/main/logo-spec.png) no-repeat 7rem 5rem;
}
.grey{
  background: rgba(211, 215, 223, 1) url(/assest/main/logo-spac2.png) no-repeat 7rem 5rem;
}
.blue{
  background: rgba(9, 130, 198, 0.7) url(/assest/main/logo-spac2.png) no-repeat 7rem 5rem;
}

.specialists-image{
  width: 34rem;
  height: 32rem;
  object-fit: cover;
  object-position: top;
}
.specialists-fon{
  width: 34rem;
  height: 20rem;
  padding: 1rem 1rem 2rem 1rem;
  display: grid;
}
.specialists-fon_block{
  display: flex;
  justify-content: space-between;
}
.spec-icon{
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
}
.specialists-fon .text-m-16{
  display: flex;
  align-items: flex-end;
}
.dart-blue .text-m-20, .dart-blue .text-m-16 {
  color: white;
  width: 14rem;
}
.grey .text-m-20, .grey .text-m-16 {
  color: rgba(52, 54, 56, 1);
  width: 14rem;
}
.grey .spec-icon path{
  stroke: rgba(52, 54, 56, 1);
}
.blue .text-m-20, .blue .text-m-16 {
  color: white;
  width: 14rem;
}
@media (max-width:48em) {
  .specialists-slide_block{
    width: 64rem;
    height: 91rem;
  }
  .specialists-image{
    width: 64rem;
    height: 57rem;
  }
  .specialists-fon{
    width: 64rem;
    height: 34rem;
    padding: 2rem 2rem 4rem 2rem;
  }
  .dart-blue .text-menu-18, .dart-blue .text-m-16{
    width: 27rem;
  }
  .dart-blue{
    background: rgba(40, 52, 66, 1) url(../assest/main/logo-spec.png) no-repeat 25rem 5rem;
  }
  .grey{
    background: rgba(211, 215, 223, 1) url(../assest/main/logo-spac2.png) no-repeat 25rem 5rem;
  }
  .blue{
    background: rgba(9, 130, 198, 0.7) url(../assest/main/logo-spac2.png) no-repeat 25rem 5rem;
  }
  .spec-icon{
    width: 6rem;
    height: 6rem;
    margin: 2rem 4rem 0 0;
  }
}
/* relatives-content */
.main-relatives .container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.relatives-fon {
  height: 96rem;
  width: 192rem;
  background: url("/assest/main/people-meeting-community.png") no-repeat center / cover;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.relatives-fon_content {
  width: 119rem;
  height: 96rem;
  background: url(../assest/main/Rectangle-fon.png);
  padding: 8.8rem 8.8rem 8.8rem 16rem;
  position: relative;
  z-index: 1;
}
.relatives-fon_content::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 83rem; 
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 0%);
  z-index: -1;
  box-shadow: 0 0px 100px rgba(255, 255, 255, 0.8);
}
.relatives-fon_content-all{
  display: grid;
  gap: 11.7rem;
  justify-content: end;
}
.relatives-fon_content .button-body{
  width: 49rem;
}
.relatives-fon_content-block{
  display: grid;
  gap: 7.9rem;
}
.relatives-fon_content-block .text-m-32{
  width: 68rem;
}
.check{
  background: rgba(9, 130, 198, 1);
  border-radius: .6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
}
.check-icon{
  width: 3.2rem;
  height: 3.2rem;
}
.relatives-block_checks{
  display: grid;
  gap: .8rem;
}
.relatives-block_checks .text-m-24{
  display: flex;
  gap: .8rem;
  align-items: center;
}
@media (max-width:48em) {
  .main-relatives{
    margin: 0;
    margin-bottom: 8rem;
  }
  .relatives-fon{
    width: 75rem;
    height: 131rem;
    transform: scaleX(-1);
  }
  .relatives-fon_content{
    width: 100%;
    height: auto;
    padding: 8rem 3.2rem;
    background: none;
  }
  .relatives-fon{
    background-position: 17%;
  }
  .relatives-fon_content-all{
    gap: 6.4rem;
    transform: scaleX(-1);
  }
  .relatives-fon_content-block .text-m-32{
    width:  100%;
  }
  .relatives-fon_content::before {
    height: 71%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%);
    box-shadow: 0 -60px 100px rgba(255, 255, 255, 0.9);
  }
  .relatives-block_checks{
    gap: 1.4rem;
  }
  .check{
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 1.2rem;
  }
  .check-oh{
    width: 7.9rem;
  }
  .check-icon{
    width: 6.8rem;
    height: 6.8rem;
  }
  .relatives-fon_content .button-body{
    width: 100%;
  }
  .relatives-fon_content-block{
    gap: 5.6rem;
  }
}